<title>新しいエントリを追加</title>

<h1>新しいエントリを追加</h1>

<form method="post" action="new">
<tr>
<td><input type="text" name="title"></td>
<td><input type="text" name="link"></td>
<td><input type="text" name="description"></td>
<td><input type="submit" value="登録"></td>
</tr>
</form>